.divItems {
  align-items: center;
  border-color: black;
  border-radius: 5px;
  border-style: dashed;
  bottom: 0;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.header {
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: fit-content;
}

/* img {
  height: 200px;
  width: 200px;
}

* {
  background-color: #0fa36b;
} */